body {
    background-color: #ECEEF1;
}

.centered-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    margin-top:75px;
    font-family: Lato;
    color: gray;
}

.centered-container img {
    width:200px;
}

.fa-envira {
    font-size:25px;
}

.fa-book-reader {
    font-size:25px;
}

.fa-check-circle {
    font-size:25px;
}

.mini-nav-bar {
    font-size:25px;
    font-weight:lighter;
}

.registration-form-box {
    background-color: white;
    width: 100%;
    border: 1px solid rgb(198, 198, 198);
    margin-top:20px;
    padding-top:20px;
}

.registration-form-box form {
    text-align: left;
    padding-left: 20%;
}

.registration-form-box input {
    width: 80%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
    color: black;
}

.registration-form-box form * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.registration-form-box button {
    width: 80%;
    padding: 10px 20px;
    background-color: rgb(51, 118, 191);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
}
